@import url(https://gxfs11.github.io/topFizzBuzz/css/style.css);
/* IMPORTA DE TOPFIZZBUZZ QUE A SU VEZ IMPORTA DE JSCALCU */
:root {
	/* v Deben ser de la altura de la img og */
	--sprw: 176px;
	--sprh: 64px;
	--crt: calc(var(--sprw) / 4);
	--img: url('../imgs/pipati.png') no-repeat;
}
.carta {
	width: var(--crt);
	height: var(--sprh);
	background: var(--img);
	background-position: 0 0;
}
.oculto {
	background: var(--img) 0 0;
}
.piedra {
	background: var(--img) calc(var(--sprw) / -4) 0 ;
}
.papel {
	background: var(--img) calc(var(--sprw) / -4 * 2) 0 ;
}
.tijeras {
	background: var(--img) calc(var(--sprw) / -4 * 3) 0 ;
}